<div class="dashboard">
    
    <h2>Progress</h2>
    <p id="update-date">Last updated February 21, 2021 9:29pm</p>
    
        <div class="data-summary">
    
            <section class="data-block">
                <p class="data-block-value">08</p>
                <p class="data-block-unit">hours invested</p>
            </section>

            <section class="data-block">
                <p class="data-block-value">01</p>
                <p class="data-block-unit">cups of tea consumed</p>
            </section>

            <section class="data-block">
                <p class="data-block-value">89</p>
                <p class="data-block-unit">days until symposium</p>
            </section>
            
            <section class="data-block">
                <p class="data-block-value">😬</p>
                <p class="data-block-unit">mood</p>
            </section>

        </div>
    
        <div id="progress-bar">
            <div class="right">
                <div class="graph">
                  <div class="bar">
                    <div class="color"></div>
                  </div>
                  <div class="percent">10% Complete</div>
                </div>
            </div>
        </div>



</div>