<div class="dashboard">
    
    <h2>Progress</h2>
    <p id="update-date">Last updated {{ page.update-date }}</p>
    
        <div class="data-summary">
    
            <section class="data-block">
                <p class="data-block-value">{{ page.hours }}</p>
                <p class="data-block-unit">hours invested</p>
            </section>

            <section class="data-block">
                <p class="data-block-value">{{ page.tea }}</p>
                <p class="data-block-unit">cups of tea consumed</p>
            </section>

            <section class="data-block">
                <p class="data-block-value" id="countdown"></p>
                <p class="data-block-unit">until symposium</p>
            </section>
            
            <section class="data-block">
                <p class="data-block-value">{{ page.mood }}</p>
                <p class="data-block-unit">mood</p>
            </section>

        </div>
    
        <div id="progress-bar">
            <div class="right">
                <div class="graph">
                  <div class="bar">
                    <div class="color"></div>
                  </div>
                  <div class="percent">{{ page.percent }} Complete</div>
                </div>
            </div>
        </div>



</div>