<div class="post-nav">
    
    <div class="post-nav-previous">
         {% if page.next.url %}
         <p class="article-top-row-text">&laquo;&nbsp;previous phase</p>
         <a href="{{ page.next.url }}">{{ page.next.title }}</a>
            {% endif %}
     </div>
    
    <div class="post-nav-next">
            {% if page.previous.url %}
            <p class="article-top-row-text">next phase&nbsp;&raquo;</p>
            <a href="{{page.previous.url}}">{{page.previous.title}}</a>
            {% endif %}
    </div>
        

 
    
</div>