<!doctype html>
<html>

    {% include head.html %}
    
    <body>
        
        {% include top-navigation.html %}
        
        <div id="content-wrapper">
        
                <p class="subhead"> Process for degree project on data, self-discovery and connections.</p>

                {% include dashboard.html %}


                <div class="work">
                    <h2>Logs</h2>

                    <div id="project-top-row">
                                <p class="top-row-block">week</p>
                                <p class="top-row-block"></p>
                                <p class="top-row-block">topic</p>
                    </div>

                    {% for post in site.posts limit:10 %}


                        <article class="project">

                            <!-- call the featured-post-image.html template file -->

                            <p class="proj-week">{{ post.week }}</p>

                            <a href="{{ post.url | prepend: site.baseurl }}" >
                                {% if post.featured-image %}{% include thumbnail-featured-image.html image=post.featured-image alt=post.featured-image-alt %}{% endif %}
                            </a>

                            <cap class="proj-caption">

                                <h2>
                                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                </h2>

                                <p class="proj-subhead">{{ post.subhead }}</p>
                            </cap>

                            <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> 

                            {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} -->

                        </article>   
                    {% endfor %}


                </div>
            
            </div>
        
        
        
        
        <script src="{{ "/assets/index.js" | relative_url }}"></script>
    
    </body>

    

</html>

