<!doctype html>
<html>

   {% include head.html %}
    
    <body>
        
        {% include top-navigation.html %}
        
        <div id="content-wrapper">
            
            <div id="project-article-top-row">
                
                <section>
                    <p class=article-top-row-text>week</p>

                    <p class="article-top-row-data">{{     page.week }}</p>  
                </section>
                
                <section>
                    <p class=article-top-row-text>published</p>
    
                    <p class="article-top-row-data">{{ page.written-date }}</p>
                </section>
                
                
            </div>
            
            
            <h1 class="project-title">{{ page.title }}</h1>

            <h2 class="project-subhead">{{ page.subhead }}</h2>

            
            {% if page.splash-image %}{% include post-featured-image.html image=page.splash-image alt=page.featured-image-alt %}{% endif %}

    <!--        <img class="splash-image" src=" %{{ page.splash-image }}% " >-->

    <!--
             call the featured-post-image.html template file 
            {% if page.featured-image %}{% include post-featured-image.html image=page.featured-image alt=page.featured-image-alt %}{% endif %}
    -->
            
            
            <div class="article-under-image">
                
                <section class="sidebar-info">
                    <h3>Tasks</h3>
                    <ul>
                        <li>{{ page.list-item-1 }}</li>
                        <li>{{ page.list-item-2 }}</li>
                        <li>{{ page.list-item-3 }}</li>
                        <li>{{ page.list-item-4 }}</li>
                    </ul>
                </section>
                
                <section class="article-content">
                    
                    {{ content }}
                
                </section>
                
                
               
            
            
            </div>


        </div>
    
    </body>

    

</html>

