<!doctype html>
<html>

   {% include head.html %}
    
    <body>
        
        {% include top-navigation.html %}
        
        <!--  Back to top Button-->
        <a id="button">^<p>TOP</p></a>

        
        <div class="content-wrapper">
            
            <div id="project-article-top-row">
                
                <section>
                    <p class=article-top-row-text>phase</p>

                    <p class="article-top-row-data">{{     page.week }}</p>  
                </section>
                
                <section>
                    <p class=article-top-row-text>published</p>
    
                    <p class="article-top-row-data">{{ page.written-date }}</p>
                </section>
                
                
            </div>
            
            
            <h1 class="project-title">{{ page.title }}</h1>

            <p class="project-subhead">{{ page.subhead }}</p>

            
            {% if page.splash-image %}{% include post-featured-image.html image=page.splash-image alt=page.featured-image-alt %}{% else %}{% include blank-space.html %}{% endif %}

    <!--        <img class="splash-image" src=" %{{ page.splash-image }}% " >-->

    <!--
             call the featured-post-image.html template file 
            {% if page.featured-image %}{% include post-featured-image.html image=page.featured-image alt=page.featured-image-alt %}{% endif %}
    -->
            
            
            <div class="article-under-image">
                
                
                
                
                
                    
                    {{ content }}
                
                
                
               
            
            
            </div>
            
            

        </div>
        
        {% include post-navigation.html %}
        
        {% include footer.html %}
        
         <script src="{{ "/assets/index.js" | relative_url }}"></script>
    
    </body>

    

</html>

